.navbar{
    border: solid 2px;
    background-color: black;
    color: white;
}
.body{
    border: solid 3px;
    background-color:white;
    color: black;


}
#body{
    background-image: url('glory.jpeg');
    background-repeat: repeat-x;
}
.paragraph{
    color: black;
}